.stopka2 {
    display: none;
}


.gora_napis {
    display: none;
}

.mainn {
    display: none;
}

.gora_zaloguj{
    
    display: none;
    
}
.points{
    display: none;
}

.gora {
    flex-direction: row;
    border-bottom: 1px solid #d3d3d3;
}

.logo_zdj {
    display: flex;
    margin-left: 1.5%;
    margin-right: 2.5%;
    height: 40px;
    bottom: 2px;
}

.mic_icon {
    vertical-align: middle;
    position:relative;
    height: 22px;
    right: 15px;
    margin-right: 5px;
    top: 10px;
}

.szukaj_icon {
    display: flex;
    align-items: center;
    size: 5px;
    width: 25px;
    height: 25px;
    margin-left: 14px;
    position: relative;
    bottom: -9px;
    left: -15px;
}

.szukaj {
    margin-top: 6px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 46px;
    margin: 0;
    width: auto;
    max-width: 700px;
    flex: 1;
    display: flex;
    box-shadow: 0 0 5px 1px #ededed;
}

.klawa_icon {
    border-left: 1px solid #dfe1e5;
    margin-top: 6px;
    padding-bottom: 8px;
    padding-left: 17px;
}

.x {
    display: flex;
    align-items: center;
    
    
    height: 28px;
    margin-right: 2px;
    position: relative;
    bottom: -9px;
    left: -30px;
    
}

.kreska {

    display: flex;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 25px;
    height: 40px;
    margin-right: 14px;
    position: relative;
    bottom: -2px;
    left: -20px;

}

.kryteria {
    margin-left: 193px;
    margin-top: 22px;
    margin-bottom: 5px;
    
    
    
    
}

.kryt1{
    text-decoration: none;
    letter-spacing: 0.2px;
    font-size: 15px;
    margin-left: 27px;
    color: rgb(34, 106, 230);
    
}

.kryt{
    text-decoration: none;
    letter-spacing: 0.2px;
    font-size: 15px;
    margin-left: 27px;
    color: rgb(123, 123, 123);
    
}

.part1 {
    display: flex;
}

.wynik {
    
    margin-left: 220px;
    margin-top: 22px;
    margin-bottom: 5px;
}

.link1 {
    text-decoration: none;
    color: black;
}

.link2 {
    text-decoration: none;
    color: rgb(121, 121, 121);
    padding-left: 3px;
}

.triangle {
    padding-left: 10px;
    padding-top: 1px;
    display: flex;
    color: rgb(122, 121, 121);
}

.link {
    display: flex;
    margin-bottom: 8px;
}

.hiper_blue {
    text-decoration: none;
    color: rgb(0, 0, 225);
    font-size: 20px;

}

.hiper_blue:hover{
    text-decoration: underline;
}

.opis {
    margin-top: 5px;
    max-width: 550px;
    line-height: 23px;
}

.podobne {
    font-size: 19px;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.stopka {
    display: none;
}

.szare {
    margin-top: 8px;
    background: rgb(248, 248, 248);
    display: flex;
    
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 46px;
    margin-left: 220px;
    
    width: auto;
    max-width: 320px;
    flex: 1;
    display: flex;

}

.szare1 {
    margin-top: 8px;
    background: rgb(248, 248, 248);
    display: flex;
    
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 46px;
    margin-left: 20px;
    
    max-width: 320px;
    flex: 1;
    display: flex;

}

.szukaj_icon2{
    
    display: flex;
    align-items: center;
    size: 4px;
    width: 22px;
    height: 22px;
    margin-left: 30px;
    position: relative;
    bottom: -12px;
    left: -10px;
}

.wiersz {
    
    display: flex;
}

.podobne_wynik {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 17px;
    width: auto;
    color: black;
    margin-left: 20px;
    position: relative;
    bottom: -1px;
    left: -10px;
}

.spis {
    margin-left: 350px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;

}

.numery {
    margin-left: 392px;
    margin-top: 5px;
    font-size: 15px;
    

}

.n1 {
color: black;
}

.n {
    margin-left: 16.1px;
    color: rgb(29, 125, 210);

}

.g {
    
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: rgb(29, 125, 210);
    
}

.oc {
    
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: rgb(186, 0, 0);
}
.oz {
    
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: rgb(255, 204, 0);
}
.g1 {
    
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: rgb(29, 125, 210);
}
.l {
    
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: rgb(48, 145, 0);
}

.e {
    
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
    color: rgb(186, 0, 0);
}


.stopka_gora {
    display: flex;
    margin-top: 30px;
    padding-left: 200px;
    
    height: 40px;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    width: auto;
    color: black;
    position: relative;
    border: 1px solid #cdcdcd;
    background: rgb(248, 248, 248);

}

.stopka_dol {
 
    display: flex;
    margin-bottom: 20px;
    
    margin-left: 200px;
    height: 40px;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    width: auto;
    color: black;
    position: relative;
    background: rgb(248, 248, 248);

}
.element {
    margin-left: 50px;
    position: relative;
    padding-top: 0.2em;
    color: #808080;
    text-decoration: none;
}

.element:hover {
    color: rgb(89, 89, 89);
    
}

